[Unit]
Description=Zookeeper node
After=network.target

[Service]
ExecStart={{ home }}/zookeeper-{{ version }}/bin/zkServer.sh start
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User={{ user }}
LimitNOFILE=64000
Type=forking
WorkingDirectory={{ logdir }}

[Install]
WantedBy=multi-user.target
Alias=zookeeper.service
