[Unit]
Description=Zookeeper node
After=network.target

[Service]
ExecStart={{ home }}/kafka_{{ scala }}-{{ version }}/bin/zookeeper-server-start.sh -daemon {{ confdir }}/zookeeper.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User={{ user }}
LimitNOFILE=64000
Type=forking

[Install]
WantedBy=multi-user.target
Alias=zookeeper.service
